// Colors

$display-color: #2b2a2a;

$calculator-color: #111111;

$operator-color: #3c3c3c;
$hover-operator: #858383;

$number-color: #f0f0f0;

$equal-color: #6da9d8;
$hover-equal: #395871;

$equal-textColor: #040708;

$text-color: #c0c0c0;

$hover-color: #e6e6e6;